<html>
<head>
    <meta charset="utf-8">
    <title> </title>
    <script src="angular.min.js"></script>
    <script src="radioflix.js"></script>
</head>
<body ng-app="radioflix"  ng-controller="homeCtrl">
 
    {{ nome }}

    <button ng-click="mudar()"> Mudar </button>
</body>
</html>
