<html ng-app="myapp">
<head>
    <meta charset="utf-8">
    <title> </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
 
    <script>
    var module = angular.module("myapp", []);
    var myController1 = module.controller("myController", function($scope) {

      $scope.nome = "Wanderson ";


      $scope.um  = function (){

        return "flavio amorim";
      };

      $scope.mudar = function(){

          console.log('chegou aqui')
          $scope.nome = "flavio";
      };

      var um = $scope.um();
      console.log(um);
    });
    </script>
</head>
<body ng-controller="myController">
 

    {{ nome }}

    <button ng-click="mudar()"> Mudar </button>
</body>
</html>
