<html ng-app="myapp">
<head>
    <meta charset="utf-8">
    <title> </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
 
    <script>
    var module = angular.module("myapp", []);
    var myController1 = module.controller("myController", function($scope) {

      $scope.data = { time : new Date() };

      $scope.updateTime = function() {
          $scope.data.time = new Date();
      }

      document.getElementById("updateTimeButton")
        .addEventListener('click', function() {
          $scope.$apply(function() {
              console.log("update time clicked");
              $scope.data.time = new Date();
          });
      });
    });
    </script>
</head>
<body>
    <div ng-controller="myController">
        {{ data.time }}

        <br/>
        <button ng-click="updateTime()">update time - ng-click</button>
        <button id="updateTimeButton"  >update time</button>
    </div>
</body>
</html>
