<html ng-app="meuModulo">
<head>
    <meta charset="utf-8">
    <title> </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .selecionado{
        background-color: yellow ;
      }
      .negrito {
        font-weight: bold;
      }
    </style>
</head>
<body  ng-controller="meuController">
  <div>
    <h4> {{ message }} </h4>
      {{ contatos }}
      {{ contato }}
      <br />
      <input type="text" name="criterioBusca" ng-model="criterioBusca" placeholder="buscar" />
    <table class="table">
      <tr>
        <th></th>
        <th>Nome</th>
        <th>telefone</th>
        <th>Carro</th>
        <th>data</th>
      </tr>
      <tr ng-class="{selecionado:contato.selecionado , negrito:contato.selecionado}" ng-repeat="contato in contatos | filter:criterioBusca">
        <td> <input type="checkbox" ng-model="contato.selecionado" /> </td>
        <td> {{ contato.nome  }} </td>
        <td> {{ contato.telefone }}</td>
        <td> {{ contato.carro.nome }}</td>
        <td> {{ contato.date | date:"dd/MM/yyyy" }}</td>
      </tr>
    </table>
    <hr>
    <input class="form-control" type="text" ng-model="contato.nome" />
    <input class="form-control" type="text" ng-model="contato.telefone" />
    <select class="form-control" ng-model="contato.carro" ng-options="carro.nome group by carro.categoria for carro in carros">
        <option value=""> Selecione carro </option>
    </select>
    <button ng-disabled="!contato.nome || !contato.telefone" classo="btn btn-primary" ng-click="adicionarContato( contato )">Adicionar</button>
    <button classo="btn btn-danger" ng-click="deletarContatos( contatos )">Delete</button>
  </div>
</body>
</html>
